env :
  basic_info:
    LANG=en_US.UTF-8
    USER=strikr
    TERM=xterm
    EDITOR=vim
  shell_info:
    SHELL=/bin/bash
  lc_info:
    LC_IDENTIFICATION=
    LC_TIME=
    LC_MESSAGES=
    LC_TELEPHONE=
    LC_CTYPE=
    LC_ADDRESS=
    LC_NUMERIC=
    LC_NAME=
    LC_COLLATE=
  dir_info:
    PWD=/home/strikr/work/poc-ansible/devops-ansible/scripts/jinja2
    HOME=/home/strikr
    TMP=/home/strikr/tmp
  path_info:
    PATH=/home/strikr/go/bin:/home/strikr/.cargo/bin:/home/strikr/src/source-nim/nim/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/home/strikr/.cabal/bin:.cabal-sandbox/bin:/usr/lib/jvm/java-8-openjdk/bin

